# Evita node_modules en la raíz y subcarpetas
node_modules/

# Archivos de entorno
.env

# Salidas de build
dist/
build/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
yarn-debug.log*
yarn-error.log*
npm-debug.log*

# Cobertura de tests
coverage/

# Otros
logs/
uploads/
